<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../head-1'); %>
    <body>
        <!---esse é o banner com todos os menus inclusive o de logar-->
        <div class="banner-container">
            <div class="logo-div">
                <img src="../assets/logo.png">
            </div>
            <div class="quadro-banner">
                <div class="title-div">
                    <h1 class="title">SP MEDICAL GROUP</h1>
                </div>
            </div>
            <div class="botao-inicio">
                <a  class="none" href="/index_admin_volta">
                <button class="button-azul">
                    Início
                </button> </a>
            </div>
        
        <div class="botao-login-div">
            <a  class="none" href="../index.html">
            <button class="button-azul">
                Sair
            </button> </a>
        </div>
        </div>
        <div class="consultas-container">
            <div class="titulo-div">
                <h1>Consultas</h1>
            </div>
            <style>
                .table-div-consulta{
                    background-color: #fff;
                    border: 1px solid #fff;
                    padding: 80px;
                    border-radius: 25px;
                    display: inline-block;
                    text-align: center;

                    
                }
            </style>
            <table class="table-div-consulta">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Especialidade</th>
                        <th>Motivo</th>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Deficiencia</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(row) { %>
                        <tr>
                            <td><%= row.nome %></td>
                            <td><%= row.idade %></td>
                            <td><%= row.especialidade %></td>
                            <td><%= row.motivo %></td>
                            <td><%= row.dia %></td>
                            <td><%= row.hora %></td>
                            <td><%= row.deficiencia %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table> </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="div-endereço">
            <h3>R Jacarandás, São Manoel,200, Nova Odessa,SP, Brasil</h3>
        </div>
        <div class="div-telefone"></div>
        <h3>(19) 984456111</h3>
        <div class="redes">
            <div class="instagram-div">
                <img src="../assets/Instagram.png">
            </div>
            <div class="zap-div">
                <img src="../assets/Whatsapp.png">
            </div>
            <div class="facebook-div">
                <img src="../assets/Facebook.png">
            </div>
        </div>
        <div class="email"></div>
    </footer>
</html>