<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../head-1'); %>
    <body >
        <script>

        </script>
        <!---esse é o banner com todos os menus inclusive o de logar-->
        <div class="banner-container">
            <div class="logo-div">
                <img src="../assets/logo.png">
            </div>
            <div class="quadro-banner">
                <div class="title-div">
                    <h1 class="title">SP MEDICAL GROUP</h1>
                </div>
            </div>
            <div class="botao-inicio">
                <a  class="none" href="index_doctor">
                <button class="button-azul">
                    Início
                </button> </a>
            </div>
        
        <div class="botao-login-div">
            <a  class="none" href="/logout">
            <button class="button-azul">
                Sair
            </button> </a>
        </div>
        </div>
        <div class="consultas-container">
            <div class="titulo-div">
                <h1>Consultas</h1>
            </div>
            <div class="tabela-div">
                
                      
                   
                        
                        <table class="table-div-consulta">
                            <thead>
                                <tr>
                                    <th>Paciente</th>
                                    <th>Idade</th>
                                    <th>Especialidade</th>
                                    <th>Motivo</th>
                                    <th>Dia</th>
                                    <th>Horário</th>
                                    <th>Deficiência</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(function(row) { %>
                                    <tr>
                                        <td><%= row.nome %></td>
                                        <td><%= row.idade %></td>
                                        <td><%= row.especialidade %></td>
                                        <td><%= row.motivo %></td>
                                        <td><%= row.dia %></td>
                                        <td><%= row.hora %></td>
                                        <td><%= row.deficiencia %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    
               
            
                  
                </div>
            </div>
        </div>
    </body>
    <%- include('../footer'); %>
</html>