<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>HOME|MEDICAL GROUP SP</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        

    </head>
    <body>
        <!---esse é o banner com todos os menus inclusive o de logar-->
        <%- include('header-logado'); %>

        <style>
            .table-div-consulta{
                background-color: #fff;
                padding: 50px;
                border: solid 1px #fff;
                border-radius:16px;
display: inline-block;            }
            .consultas-container{
                text-align: center;
            }
        </style>
<div class="consultas-container">
    <h1>Suas consultas</h1>
        <table class="table-div-consulta">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Especialidade</th>
                    <th>Motivo</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Deficiencia</th>
                </tr>
            </thead>
            <tbody>
                <% dados.forEach(function(row) { %>
                    <tr>
                        <td><%= row.nome %></td>
                        <td><%= row.idade %></td>
                        <td><%= row.especialidade %></td>
                        <td><%= row.motivo %></td>
                        <td><%= row.dia %></td>
                        <td><%= row.hora %></td>
                        <td><%= row.deficiencia %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    </body>
    <footer>
        <div class="div-endereço">
            <h3>R Jacarandás, São Manoel,200, Nova Odessa,SP, Brasil</h3>
        </div>
        <div class="div-telefone"></div>
        <h3>(19) 984456111</h3>
        <div class="redes">
            <div class="instagram-div">
                <img src="assets/Instagram.png">
            </div>
            <div class="zap-div">
                <img src="assets/Whatsapp.png">
            </div>
            <div class="facebook-div">
                <img src="assets/Facebook.png">
            </div>
        </div>
        <div class="email"></div>
    </footer>
</html>